In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.8+ MB

In [5]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [6]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
df['price'].fillna(df['price'].median(), inplace=True)

<ipython-input-8-b13d98850009>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].median(), inplace=True)

In [9]:
df.duplicated().sum()

np.int64(0)

In [11]:
df = df.drop_duplicates()

In [12]:
#Standardize Column Names
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [16]:
#Standardize Data Values
df['neighbourhood_group'] = df['neighbourhood_group'].str.title().str.strip()
df['neighbourhood'] = df['neighbourhood'].str.title().str.strip()
df['room_type'] = df['room_type'].str.title().str.strip()
df['host_name'] = df['host_name'].str.strip()

In [17]:
#Handle Missing Values
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [18]:
df['reviews_per_month'].fillna(0, inplace=True)

<ipython-input-18-c12393c8e6f2>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['reviews_per_month'].fillna(0, inplace=True)

In [20]:
df['last_review'] = pd.to_datetime(df['last_review'])

In [21]:
df['name'].fillna('Not Provided', inplace=True)
df['host_name'].fillna('Not Provided', inplace=True)

<ipython-input-21-1aaf926951c9>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna('Not Provided', inplace=True)
<ipython-input-21-1aaf926951c9>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_name'].fillna('Not Provided', inplace=True)

In [22]:
df.duplicated().sum()

np.int64(0)

In [26]:
df=df.drop_duplicates

In [45]:
df['price'].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [48]:
#Remove extreme price outliers (IQR method)
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

df = df[(df['price'] >= Q1 - 1.5 * IQR) & 
        (df['price'] <= Q3 + 1.5 * IQR)]

In [49]:
#Clean minimum_nights
df = df[df['minimum_nights'] <= 365]

In [50]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 44657 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              44657 non-null  int64
 1   name                            44643 non-null  object
 2   host_id                         44657 non-null  int64
 3   host_name                       44637 non-null  object
 4   neighbourhood_group             44657 non-null  object
 5   neighbourhood                   44657 non-null  object
 6   latitude                        44657 non-null  float64
 7   longitude                       44657 non-null  float64
 8   room_type                       44657 non-null  object
 9   price                           44657 non-null  int64
 10  minimum_nights                  44657 non-null  int64
 11  number_of_reviews               44657 non-null  int64
 12  last_review                     36039 non-null  object
 13  reviews_per_month               36039 non-null  float64
 14  calculated_host_listings_count  44657 non-null  int64
 15  availability_365                44657 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.8+ MB

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.465700e+04,4.465700e+04,44657.000000,44657.000000,44657.000000,44657.000000,44657.000000,36039.000000,44657.000000,44657.000000
mean,1.883304e+07,6.586328e+07,40.728260,-73.950095,114.771749,6.719686,24.116421,1.375030,6.307455,108.319457
std,1.088836e+07,7.711209e+07,0.055655,0.046562,61.492795,15.899225,45.492467,1.691363,29.789899,129.963916
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.415026e+06,7.735666e+06,40.688850,-73.981270,65.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.942904e+07,3.028359e+07,40.721240,-73.953870,100.000000,2.000000,6.000000,0.710000,1.000000,38.000000
75%,2.874137e+07,1.047005e+08,40.763550,-73.933300,150.000000,5.000000,25.000000,2.020000,2.000000,213.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,290.000000,365.000000,629.000000,58.500000,327.000000,365.000000

In [ ]:
Final Conclusion:
The NYC Airbnb dataset was successfully cleaned by handling missing values, removing duplicates, standardizing categorical data, and treating outliers. These steps significantly improved data quality and ensured reliable and accurate analysis.